In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset/sales.csv')
df.head()

,user_id,age,sex,phone_number,joined_date,country,payment_method,loyalty_program_member,loyalty_points_redeemed,loyalty_tier,...,return_date,order_id,released_date,estimated_delivery_date,received_date,total_delivery_days,shipping_method,shipping_cost,tracking_number,customer_exp_rating
0,****980545,22,M,63**409216**,2023-02-14,Philippines,maya,1,1,2.0,...,NaN,***621668,2024-04-03,2024-04-07,2024-04-07,8,standard,203,***5E7HOXAW93,3
1,****906406,23,M,63**369756**,2024-04-19,Philippines,visa_c,0,0,NaN,...,NaN,***002517,2024-04-26,2024-05-03,2024-05-04,6,standard,291,***R5NLL0ARWI,1
2,****860958,19,F,63**558004**,2023-03-03,Philippines,gcash,0,0,NaN,...,NaN,***050582,2024-01-28,2024-01-31,2024-02-01,11,standard,74,***EOVA6EJ4QO,1
3,****845150,58,O,63**783910**,2024-04-18,Philippines,otc,0,0,NaN,...,NaN,***110492,2024-06-09,2024-06-15,2024-06-13,8,express,82,***WKCU4XAR9B,1
4,****664897,37,O,63**600892**,2021-09-29,Philippines,visa_d,0,0,NaN,...,NaN,***201483,2022-07-08,2022-07-12,2022-07-09,14,standard,51,***5DEMJF3UCZ,5

In [3]:
df.columns

Index(['user_id', 'age', 'sex', 'phone_number', 'joined_date', 'country',
       'payment_method', 'loyalty_program_member', 'loyalty_points_redeemed',
       'loyalty_tier', 'tier_discount_percentage', 'card_discount_percentage',
       'coupon_discount_percentage', 'total_discount_percentage',
       'total_purchase', 'total_discount', 'total_purchase_after_discount',
       'transaction_id', 'payment_status', 'payment_date', 'payment_time',
       'purchased_date', 'purchased_time', 'product_category',
       'purchase_medium', 'return_status', 'refund_amount', 'return_date',
       'order_id', 'released_date', 'estimated_delivery_date', 'received_date',
       'total_delivery_days', 'shipping_method', 'shipping_cost',
       'tracking_number', 'customer_exp_rating'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382423 entries, 0 to 382422
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   user_id                        382423 non-null  object
 1   age                            382423 non-null  int64
 2   sex                            382423 non-null  object
 3   phone_number                   382423 non-null  object
 4   joined_date                    382423 non-null  object
 5   country                        382423 non-null  object
 6   payment_method                 382423 non-null  object
 7   loyalty_program_member         382423 non-null  int64
 8   loyalty_points_redeemed        382423 non-null  int64
 9   loyalty_tier                   191126 non-null  float64
 10  tier_discount_percentage       191126 non-null  float64
 11  card_discount_percentage       88589 non-null   float64
 12  coupon_discount_percentage     382423 non-null  int64
 13  total_discount_percentage      382423 non-null  int64
 14  total_purchase                 382423 non-null  int64
 15  total_discount                 382423 non-null  float64
 16  total_purchase_after_discount  382423 non-null  float64
 17  transaction_id                 382423 non-null  object
 18  payment_status                 382423 non-null  object
 19  payment_date                   382423 non-null  object
 20  payment_time                   382423 non-null  object
 21  purchased_date                 382423 non-null  object
 22  purchased_time                 382423 non-null  object
 23  product_category               382423 non-null  object
 24  purchase_medium                382423 non-null  object
 25  return_status                  382423 non-null  object
 26  refund_amount                  382423 non-null  int64
 27  return_date                    0 non-null       float64
 28  order_id                       382423 non-null  object
 29  released_date                  382423 non-null  object
 30  estimated_delivery_date        382423 non-null  object
 31  received_date                  382423 non-null  object
 32  total_delivery_days            382423 non-null  int64
 33  shipping_method                382423 non-null  object
 34  shipping_cost                  382423 non-null  int64
 35  tracking_number                382423 non-null  object
 36  customer_exp_rating            382423 non-null  int64
dtypes: float64(6), int64(10), object(21)
memory usage: 108.0+ MB

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.describe()

,age,loyalty_program_member,loyalty_points_redeemed,loyalty_tier,tier_discount_percentage,card_discount_percentage,coupon_discount_percentage,total_discount_percentage,total_purchase,total_discount,total_purchase_after_discount,refund_amount,return_date,total_delivery_days,shipping_cost,customer_exp_rating
count,382423.000000,382423.000000,382423.000000,191126.000000,191126.000000,88589.000000,382423.000000,382423.000000,382423.000000,382423.000000,382423.000000,382423.0,0.0,382423.000000,382423.000000,382423.000000
mean,38.972808,0.499776,2.259464,2.501753,6.254419,2.993634,2.500265,6.319557,5030.485462,317.719726,4712.765736,0.0,NaN,7.491717,175.037330,3.002795
std,12.390457,0.500001,3.031826,1.118606,2.587818,1.414830,1.706888,4.258269,2871.789926,305.853472,2702.065875,0.0,NaN,3.302425,72.496094,1.414959
min,18.000000,0.000000,0.000000,1.000000,3.000000,1.000000,0.000000,0.000000,50.000000,0.000000,42.120000,0.0,NaN,-1.000000,50.000000,1.000000
25%,28.000000,0.000000,0.000000,2.000000,5.000000,2.000000,1.000000,3.000000,2543.000000,80.400000,2376.900000,0.0,NaN,5.000000,112.000000,2.000000
50%,39.000000,0.000000,0.000000,3.000000,7.000000,3.000000,2.000000,5.000000,5037.000000,226.200000,4706.300000,0.0,NaN,7.000000,175.000000,3.000000
75%,50.000000,1.000000,5.000000,4.000000,10.000000,4.000000,4.000000,9.000000,7517.000000,464.800000,7023.350000,0.0,NaN,10.000000,238.000000,4.000000
max,60.000000,1.000000,9.000000,4.000000,10.000000,5.000000,5.000000,20.000000,9999.000000,1997.000000,9999.000000,0.0,NaN,16.000000,300.000000,5.000000

In [7]:
df.describe(include='object')

,user_id,sex,phone_number,joined_date,country,payment_method,transaction_id,payment_status,payment_date,payment_time,...,purchased_time,product_category,purchase_medium,return_status,order_id,released_date,estimated_delivery_date,received_date,shipping_method,tracking_number
count,382423,382423,382423,382423,382423,382423,382423,382423,382423,382423,...,382423,382423,382423,382423,382423,382423,382423,382423,382423,382423
unique,317621,3,271838,1826,1,13,381711,1,1818,85378,...,85378,20,2,1,318120,1822,1827,1828,2,382423
top,****299535,F,63**587182**,2020-08-21,Philippines,mastercard_c,***37887180,paid,2024-12-31,21:55:13,...,21:55:13,beauty,online,not returned,***519434,2025-01-01,2025-01-02,2025-01-03,standard,***5E7HOXAW93
freq,6,127931,9,275,382423,29758,3,382423,1720,17,...,17,19433,191844,382423,6,1361,1210,1179,191840,1

In [8]:
df['payment_date'] = pd.to_datetime(df['payment_date'])
df['payment_time'] = pd.to_datetime(df['payment_time'])
df['purchased_date'] = pd.to_datetime(df['purchased_date'])
df['purchased_time'] = pd.to_datetime(df['purchased_time'])
df['released_date'] = pd.to_datetime(df['released_date'])
df['estimated_delivery_date'] = pd.to_datetime(df['estimated_delivery_date'])
df['received_date'] = pd.to_datetime(df['received_date'])

/var/folders/gm/hpkzcyy966b9qy96gxsz8z7r0000gn/T/ipykernel_5352/3752432227.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['payment_time'] = pd.to_datetime(df['payment_time'])
/var/folders/gm/hpkzcyy966b9qy96gxsz8z7r0000gn/T/ipykernel_5352/3752432227.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['purchased_time'] = pd.to_datetime(df['purchased_time'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382423 entries, 0 to 382422
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   user_id                        382423 non-null  object
 1   age                            382423 non-null  int64
 2   sex                            382423 non-null  object
 3   phone_number                   382423 non-null  object
 4   joined_date                    382423 non-null  object
 5   country                        382423 non-null  object
 6   payment_method                 382423 non-null  object
 7   loyalty_program_member         382423 non-null  int64
 8   loyalty_points_redeemed        382423 non-null  int64
 9   loyalty_tier                   191126 non-null  float64
 10  tier_discount_percentage       191126 non-null  float64
 11  card_discount_percentage       88589 non-null   float64
 12  coupon_discount_percentage     382423 non-null  int64
 13  total_discount_percentage      382423 non-null  int64
 14  total_purchase                 382423 non-null  int64
 15  total_discount                 382423 non-null  float64
 16  total_purchase_after_discount  382423 non-null  float64
 17  transaction_id                 382423 non-null  object
 18  payment_status                 382423 non-null  object
 19  payment_date                   382423 non-null  datetime64[ns]
 20  payment_time                   382423 non-null  datetime64[ns]
 21  purchased_date                 382423 non-null  datetime64[ns]
 22  purchased_time                 382423 non-null  datetime64[ns]
 23  product_category               382423 non-null  object
 24  purchase_medium                382423 non-null  object
 25  return_status                  382423 non-null  object
 26  refund_amount                  382423 non-null  int64
 27  return_date                    0 non-null       float64
 28  order_id                       382423 non-null  object
 29  released_date                  382423 non-null  datetime64[ns]
 30  estimated_delivery_date        382423 non-null  datetime64[ns]
 31  received_date                  382423 non-null  datetime64[ns]
 32  total_delivery_days            382423 non-null  int64
 33  shipping_method                382423 non-null  object
 34  shipping_cost                  382423 non-null  int64
 35  tracking_number                382423 non-null  object
 36  customer_exp_rating            382423 non-null  int64
dtypes: datetime64[ns](7), float64(6), int64(10), object(14)
memory usage: 108.0+ MB

In [10]:
#menghapus beberapa kolom
df.drop(['refund_amount','return_date','tracking_number'], axis=1, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382423 entries, 0 to 382422
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   user_id                        382423 non-null  object
 1   age                            382423 non-null  int64
 2   sex                            382423 non-null  object
 3   phone_number                   382423 non-null  object
 4   joined_date                    382423 non-null  object
 5   country                        382423 non-null  object
 6   payment_method                 382423 non-null  object
 7   loyalty_program_member         382423 non-null  int64
 8   loyalty_points_redeemed        382423 non-null  int64
 9   loyalty_tier                   191126 non-null  float64
 10  tier_discount_percentage       191126 non-null  float64
 11  card_discount_percentage       88589 non-null   float64
 12  coupon_discount_percentage     382423 non-null  int64
 13  total_discount_percentage      382423 non-null  int64
 14  total_purchase                 382423 non-null  int64
 15  total_discount                 382423 non-null  float64
 16  total_purchase_after_discount  382423 non-null  float64
 17  transaction_id                 382423 non-null  object
 18  payment_status                 382423 non-null  object
 19  payment_date                   382423 non-null  datetime64[ns]
 20  payment_time                   382423 non-null  datetime64[ns]
 21  purchased_date                 382423 non-null  datetime64[ns]
 22  purchased_time                 382423 non-null  datetime64[ns]
 23  product_category               382423 non-null  object
 24  purchase_medium                382423 non-null  object
 25  return_status                  382423 non-null  object
 26  order_id                       382423 non-null  object
 27  released_date                  382423 non-null  datetime64[ns]
 28  estimated_delivery_date        382423 non-null  datetime64[ns]
 29  received_date                  382423 non-null  datetime64[ns]
 30  total_delivery_days            382423 non-null  int64
 31  shipping_method                382423 non-null  object
 32  shipping_cost                  382423 non-null  int64
 33  customer_exp_rating            382423 non-null  int64
dtypes: datetime64[ns](7), float64(5), int64(9), object(13)
memory usage: 99.2+ MB

In [12]:
numerik = df.select_dtypes(include=['number']).columns.tolist()
kategori = df.select_dtypes(exclude=['number']).columns.tolist()

df[numerik].head()

,age,loyalty_program_member,loyalty_points_redeemed,loyalty_tier,tier_discount_percentage,card_discount_percentage,coupon_discount_percentage,total_discount_percentage,total_purchase,total_discount,total_purchase_after_discount,total_delivery_days,shipping_cost,customer_exp_rating
0,22,1,1,2.0,5.0,NaN,5,10,1168,116.80,1051.20,8,203,3
1,23,0,0,NaN,NaN,2.0,2,4,4617,184.68,4432.32,6,291,1
2,19,0,0,NaN,NaN,NaN,2,2,7526,150.52,7375.48,11,74,1
3,58,0,0,NaN,NaN,NaN,2,2,1300,26.00,1274.00,8,82,1
4,37,0,0,NaN,NaN,NaN,2,2,8480,169.60,8310.40,14,51,5

In [13]:
df[kategori].head()

,user_id,sex,phone_number,joined_date,country,payment_method,transaction_id,payment_status,payment_date,payment_time,purchased_date,purchased_time,product_category,purchase_medium,return_status,order_id,released_date,estimated_delivery_date,received_date,shipping_method
0,****980545,M,63**409216**,2023-02-14,Philippines,maya,***72935436,paid,2024-03-31,2025-12-04 21:37:17,2024-03-31,2025-12-04 21:37:17,pet supplies,online,not returned,***621668,2024-04-03,2024-04-07,2024-04-07,standard
1,****906406,M,63**369756**,2024-04-19,Philippines,visa_c,***68415111,paid,2024-04-24,2025-12-04 18:26:06,2024-04-24,2025-12-04 18:26:06,music,in-store,not returned,***002517,2024-04-26,2024-05-03,2024-05-04,standard
2,****860958,F,63**558004**,2023-03-03,Philippines,gcash,***52520094,paid,2024-01-26,2025-12-04 15:34:00,2024-01-26,2025-12-04 15:34:00,health,online,not returned,***050582,2024-01-28,2024-01-31,2024-02-01,standard
3,****845150,O,63**783910**,2024-04-18,Philippines,otc,***26122828,paid,2024-06-02,2025-12-04 20:03:12,2024-06-02,2025-12-04 20:03:12,movies,in-store,not returned,***110492,2024-06-09,2024-06-15,2024-06-13,express
4,****664897,O,63**600892**,2021-09-29,Philippines,visa_d,***66502984,paid,2022-07-07,2025-12-04 22:14:04,2022-07-07,2025-12-04 22:14:04,clothing,in-store,not returned,***201483,2022-07-08,2022-07-12,2022-07-09,standard

In [14]:
df.isna().sum()

user_id                               0
age                                   0
sex                                   0
phone_number                          0
joined_date                           0
country                               0
payment_method                        0
loyalty_program_member                0
loyalty_points_redeemed               0
loyalty_tier                     191297
tier_discount_percentage         191297
card_discount_percentage         293834
coupon_discount_percentage            0
total_discount_percentage             0
total_purchase                        0
total_discount                        0
total_purchase_after_discount         0
transaction_id                        0
payment_status                        0
payment_date                          0
payment_time                          0
purchased_date                        0
purchased_time                        0
product_category                      0
purchase_medium                       0
return_status                         0
order_id                              0
released_date                         0
estimated_delivery_date               0
received_date                         0
total_delivery_days                   0
shipping_method                       0
shipping_cost                         0
customer_exp_rating                   0
dtype: int64

In [15]:
df = df.dropna()
df.shape

(44272, 34)

In [16]:
Q1 = df[numerik].quantile(0.25)
Q3 = df[numerik].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

#Filter baris outliner
df_outlier = df[((df[numerik] < lower_bound) | (df[numerik] > upper_bound)).any(axis=1)]
print('Data outlier: ', df_outlier.shape[0], 'baris')

Data outlier:  132 baris

# Feature Engineering

In [17]:
# Purchase Frequency
df['customer_frequency'] = df.groupby('user_id')['user_id'].transform('count')
df.head()

,user_id,age,sex,phone_number,joined_date,country,payment_method,loyalty_program_member,loyalty_points_redeemed,loyalty_tier,...,return_status,order_id,released_date,estimated_delivery_date,received_date,total_delivery_days,shipping_method,shipping_cost,customer_exp_rating,customer_frequency
15,****287060,31,F,63**471344**,2023-04-18,Philippines,amex,1,2,1.0,...,not returned,***638685,2024-09-20,2024-09-23,2024-09-22,13,express,270,1,1
16,****412597,19,M,63**420436**,2024-06-22,Philippines,visa_c,1,9,2.0,...,not returned,***120137,2024-07-04,2024-07-11,2024-07-08,13,standard,299,5,2
23,****106036,40,M,63**707043**,2022-06-20,Philippines,amex,1,0,3.0,...,not returned,***607074,2022-07-19,2022-07-26,2022-07-23,5,standard,169,5,1
25,****796084,39,M,63**600578**,2021-04-21,Philippines,visa_c,1,4,4.0,...,not returned,***203896,2024-03-08,2024-03-10,2024-03-08,4,express,223,1,1
40,****643276,35,O,63**287778**,2024-07-30,Philippines,mastercard_c,1,3,1.0,...,not returned,***539216,2024-08-28,2024-09-01,2024-09-02,1,standard,220,4,1

In [18]:
# Age group segmentation
df['age_group'] = pd.cut(
    df['age'],
    bins=[0, 17, 25, 35, 50, 100],
    labels=['<18', '18-25', '26-35', '36-50', '50+']
)
df.head()

,user_id,age,sex,phone_number,joined_date,country,payment_method,loyalty_program_member,loyalty_points_redeemed,loyalty_tier,...,order_id,released_date,estimated_delivery_date,received_date,total_delivery_days,shipping_method,shipping_cost,customer_exp_rating,customer_frequency,age_group
15,****287060,31,F,63**471344**,2023-04-18,Philippines,amex,1,2,1.0,...,***638685,2024-09-20,2024-09-23,2024-09-22,13,express,270,1,1,26-35
16,****412597,19,M,63**420436**,2024-06-22,Philippines,visa_c,1,9,2.0,...,***120137,2024-07-04,2024-07-11,2024-07-08,13,standard,299,5,2,18-25
23,****106036,40,M,63**707043**,2022-06-20,Philippines,amex,1,0,3.0,...,***607074,2022-07-19,2022-07-26,2022-07-23,5,standard,169,5,1,36-50
25,****796084,39,M,63**600578**,2021-04-21,Philippines,visa_c,1,4,4.0,...,***203896,2024-03-08,2024-03-10,2024-03-08,4,express,223,1,1,36-50
40,****643276,35,O,63**287778**,2024-07-30,Philippines,mastercard_c,1,3,1.0,...,***539216,2024-08-28,2024-09-01,2024-09-02,1,standard,220,4,1,26-35

In [19]:
# AVG order value
df['avg_order_value'] = df.groupby('user_id')['total_purchase'].transform('mean')
df.head()

,user_id,age,sex,phone_number,joined_date,country,payment_method,loyalty_program_member,loyalty_points_redeemed,loyalty_tier,...,released_date,estimated_delivery_date,received_date,total_delivery_days,shipping_method,shipping_cost,customer_exp_rating,customer_frequency,age_group,avg_order_value
15,****287060,31,F,63**471344**,2023-04-18,Philippines,amex,1,2,1.0,...,2024-09-20,2024-09-23,2024-09-22,13,express,270,1,1,26-35,2025.0
16,****412597,19,M,63**420436**,2024-06-22,Philippines,visa_c,1,9,2.0,...,2024-07-04,2024-07-11,2024-07-08,13,standard,299,5,2,18-25,6679.0
23,****106036,40,M,63**707043**,2022-06-20,Philippines,amex,1,0,3.0,...,2022-07-19,2022-07-26,2022-07-23,5,standard,169,5,1,36-50,683.0
25,****796084,39,M,63**600578**,2021-04-21,Philippines,visa_c,1,4,4.0,...,2024-03-08,2024-03-10,2024-03-08,4,express,223,1,1,36-50,4678.0
40,****643276,35,O,63**287778**,2024-07-30,Philippines,mastercard_c,1,3,1.0,...,2024-08-28,2024-09-01,2024-09-02,1,standard,220,4,1,26-35,3249.0

In [20]:
# Loyalty Tier Classification
df['loyalty_segment'] = df['loyalty_tier'].apply(
    lambda x: (
        'No Loyalty' if pd.isna(x) else
        'Bronze' if x == 1 else
        'Silver' if x == 2 else
        'Gold' if x == 3 else
        'Platinum'
    )
)
df.head()

,user_id,age,sex,phone_number,joined_date,country,payment_method,loyalty_program_member,loyalty_points_redeemed,loyalty_tier,...,estimated_delivery_date,received_date,total_delivery_days,shipping_method,shipping_cost,customer_exp_rating,customer_frequency,age_group,avg_order_value,loyalty_segment
15,****287060,31,F,63**471344**,2023-04-18,Philippines,amex,1,2,1.0,...,2024-09-23,2024-09-22,13,express,270,1,1,26-35,2025.0,Bronze
16,****412597,19,M,63**420436**,2024-06-22,Philippines,visa_c,1,9,2.0,...,2024-07-11,2024-07-08,13,standard,299,5,2,18-25,6679.0,Silver
23,****106036,40,M,63**707043**,2022-06-20,Philippines,amex,1,0,3.0,...,2022-07-26,2022-07-23,5,standard,169,5,1,36-50,683.0,Gold
25,****796084,39,M,63**600578**,2021-04-21,Philippines,visa_c,1,4,4.0,...,2024-03-10,2024-03-08,4,express,223,1,1,36-50,4678.0,Platinum
40,****643276,35,O,63**287778**,2024-07-30,Philippines,mastercard_c,1,3,1.0,...,2024-09-01,2024-09-02,1,standard,220,4,1,26-35,3249.0,Bronze

In [21]:
df.to_csv('FINAL_PROJECT.csv', index=False)

In [22]:
df.columns

Index(['user_id', 'age', 'sex', 'phone_number', 'joined_date', 'country',
       'payment_method', 'loyalty_program_member', 'loyalty_points_redeemed',
       'loyalty_tier', 'tier_discount_percentage', 'card_discount_percentage',
       'coupon_discount_percentage', 'total_discount_percentage',
       'total_purchase', 'total_discount', 'total_purchase_after_discount',
       'transaction_id', 'payment_status', 'payment_date', 'payment_time',
       'purchased_date', 'purchased_time', 'product_category',
       'purchase_medium', 'return_status', 'order_id', 'released_date',
       'estimated_delivery_date', 'received_date', 'total_delivery_days',
       'shipping_method', 'shipping_cost', 'customer_exp_rating',
       'customer_frequency', 'age_group', 'avg_order_value',
       'loyalty_segment'],
      dtype='object')