In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset/Customer_Segmentation2.csv')
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,customer_zip_code_prefix,customer_city,customer_state
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
1,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
2,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
3,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
4,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP

In [3]:
df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_timestamp',
       'order_estimated_delivery_date', 'product_id', 'seller_id', 'price',
       'shipping_charges', 'product_category_name', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'customer_zip_code_prefix', 'customer_city',
       'customer_state'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 23 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       100000 non-null  object
 1   customer_id                    100000 non-null  object
 2   order_status                   100000 non-null  object
 3   order_purchase_timestamp       100000 non-null  object
 4   order_approved_at              100000 non-null  object
 5   order_delivered_timestamp      98464 non-null   object
 6   order_estimated_delivery_date  100000 non-null  object
 7   product_id                     100000 non-null  object
 8   seller_id                      100000 non-null  object
 9   price                          100000 non-null  float64
 10  shipping_charges               100000 non-null  float64
 11  product_category_name          99981 non-null   object
 12  product_weight_g               99986 non-null   float64
 13  product_length_cm              99986 non-null   float64
 14  product_height_cm              99986 non-null   float64
 15  product_width_cm               99986 non-null   float64
 16  payment_sequential             100000 non-null  int64
 17  payment_type                   100000 non-null  object
 18  payment_installments           100000 non-null  int64
 19  payment_value                  100000 non-null  float64
 20  customer_zip_code_prefix       100000 non-null  int64
 21  customer_city                  100000 non-null  object
 22  customer_state                 100000 non-null  object
dtypes: float64(7), int64(3), object(13)
memory usage: 17.5+ MB

In [5]:
df.duplicated().sum()

np.int64(96360)

In [6]:
df.drop_duplicates().head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,customer_zip_code_prefix,customer_city,customer_state
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
13,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,...,18.0,14.0,17.0,1,credit_card,8,382.39,3112,armacao dos buzios,RJ
16,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,...,16.0,16.0,16.0,1,credit_card,4,249.25,4119,jandira,SP
21,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,639iGvMyv0De,jWzS0ayv9TGf,264.50,...,68.0,3.0,48.0,1,credit_card,2,27.79,18212,uberlandia,MG
27,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,1lycYGcsic2F,l1pYW6GBnPMr,779.90,...,17.0,4.0,12.0,1,credit_card,1,76.15,88868,ilhabela,SP

In [7]:
numerik = df.select_dtypes(include=['number']).columns.tolist()
kategori = df.select_dtypes(exclude=['number']).columns.tolist()

df[numerik].head()
df[kategori].head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,product_category_name,payment_type,customer_city,customer_state
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,toys,credit_card,varzea paulista,SP
1,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,toys,credit_card,varzea paulista,SP
2,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,toys,credit_card,varzea paulista,SP
3,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,toys,credit_card,varzea paulista,SP
4,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,toys,credit_card,varzea paulista,SP

In [8]:
df.describe()

,price,shipping_charges,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_installments,payment_value,customer_zip_code_prefix
count,100000.000000,100000.000000,99986.000000,99986.000000,99986.000000,99986.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,519.373862,45.021183,1817.657352,31.478117,15.751065,24.961575,1.104740,2.587790,297.371103,40043.759870
std,872.859682,42.807050,2543.057379,14.562938,10.441849,11.032317,0.861195,2.552645,387.492636,30602.253486
min,0.850000,0.070000,0.000000,7.000000,2.000000,7.000000,1.000000,1.000000,0.200000,1004.000000
25%,89.100000,19.630000,396.000000,20.000000,10.000000,15.000000,1.000000,1.000000,85.360000,9655.000000
50%,159.900000,34.330000,1110.000000,30.000000,12.000000,20.000000,1.000000,1.000000,170.760000,35938.000000
75%,564.990000,54.420000,1750.000000,42.000000,22.000000,30.000000,1.000000,3.000000,336.060000,68458.000000
max,4590.000000,321.880000,30000.000000,105.000000,105.000000,105.000000,23.000000,24.000000,6929.310000,99990.000000

In [9]:
df.describe(include='object')

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,product_category_name,payment_type,customer_city,customer_state
count,100000,100000,100000,100000,100000,98464,100000,100000,100000,99981,100000,100000,100000
unique,3640,3640,5,3581,3564,3499,397,2854,1061,54,4,910,25
top,9WJFMKcNzhF2,7oaAWXxJsN0r,delivered,2017-05-16 10:49:27,2017-05-16 11:05:10,2017-05-23 12:42:16,2017-12-05,0vbEvli2JYJu,r7VxefoTVHbb,toys,credit_card,sao paulo,SP
freq,405,405,98464,810,810,810,1325,7574,15368,75157,69385,13541,38986

In [10]:
# Konversi Tipe Data

df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])

df['order_approved_at'] = pd.to_datetime(df['order_approved_at'])

df['order_delivered_timestamp'] = pd.to_datetime(df['order_delivered_timestamp'])

df['order_estimated_delivery_date'] = pd.to_datetime(df['order_estimated_delivery_date'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 23 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       100000 non-null  object
 1   customer_id                    100000 non-null  object
 2   order_status                   100000 non-null  object
 3   order_purchase_timestamp       100000 non-null  datetime64[ns]
 4   order_approved_at              100000 non-null  datetime64[ns]
 5   order_delivered_timestamp      98464 non-null   datetime64[ns]
 6   order_estimated_delivery_date  100000 non-null  datetime64[ns]
 7   product_id                     100000 non-null  object
 8   seller_id                      100000 non-null  object
 9   price                          100000 non-null  float64
 10  shipping_charges               100000 non-null  float64
 11  product_category_name          99981 non-null   object
 12  product_weight_g               99986 non-null   float64
 13  product_length_cm              99986 non-null   float64
 14  product_height_cm              99986 non-null   float64
 15  product_width_cm               99986 non-null   float64
 16  payment_sequential             100000 non-null  int64
 17  payment_type                   100000 non-null  object
 18  payment_installments           100000 non-null  int64
 19  payment_value                  100000 non-null  float64
 20  customer_zip_code_prefix       100000 non-null  int64
 21  customer_city                  100000 non-null  object
 22  customer_state                 100000 non-null  object
dtypes: datetime64[ns](4), float64(7), int64(3), object(9)
memory usage: 17.5+ MB

In [12]:
df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_timestamp        1536
order_estimated_delivery_date       0
product_id                          0
seller_id                           0
price                               0
shipping_charges                    0
product_category_name              19
product_weight_g                   14
product_length_cm                  14
product_height_cm                  14
product_width_cm                   14
payment_sequential                  0
payment_type                        0
payment_installments                0
payment_value                       0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
dtype: int64

In [13]:
df = df.dropna()
df.shape

(98431, 23)

In [14]:
Q1 = df[numerik].quantile(0.25)
Q3 = df[numerik].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

#Filter baris outliner
df_outlier = df[((df[numerik] < lower_bound) | (df[numerik] > upper_bound)).any(axis=1)]
print('Data outlier: ', df_outlier.shape[0], 'baris')

Data outlier:  40900 baris

# Feature Engineering

In [15]:
# Calculate total order value
df['total_order_value'] = df['price'] + df['shipping_charges']
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,customer_zip_code_prefix,customer_city,customer_state,total_order_value
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16
1,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16
2,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16
3,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16
4,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16

In [16]:
# PURCHASE BEHAVIOR

df['Purchase_Day'] = df['order_purchase_timestamp'].dt.day_name()
df['Purchase_Hour'] = df['order_purchase_timestamp'].dt.hour

purchase_behavior = df.groupby('customer_id').agg({
    'Purchase_Hour': 'mean'
}).reset_index()
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,payment_sequential,payment_type,payment_installments,payment_value,customer_zip_code_prefix,customer_city,customer_state,total_order_value,Purchase_Day,Purchase_Hour
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18
1,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18
2,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18
3,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18
4,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18

In [17]:
# Frequency
frequency = df.groupby('customer_id')['order_id'].nunique().reset_index()
frequency.columns = ['customer_id', 'Frequency']
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,payment_sequential,payment_type,payment_installments,payment_value,customer_zip_code_prefix,customer_city,customer_state,total_order_value,Purchase_Day,Purchase_Hour
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18
1,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18
2,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18
3,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18
4,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18

In [18]:
# Monetary
df['Total_Spending'] = df['price'] + df['shipping_charges']
monetary = df.groupby('customer_id')['Total_Spending'].sum().reset_index()
monetary.columns = ['customer_id', 'Monetary']
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,payment_type,payment_installments,payment_value,customer_zip_code_prefix,customer_city,customer_state,total_order_value,Purchase_Day,Purchase_Hour,Total_Spending
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18,308.16
1,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18,308.16
2,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18,308.16
3,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18,308.16
4,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,credit_card,1,259.14,58125,varzea paulista,SP,308.16,Sunday,18,308.16

In [19]:
# DELIVERY FEATURES

df['Delivery_Time'] = (df['order_delivered_timestamp'] - df['order_approved_at']).dt.days
df['Delivery_Delay'] = (df['order_delivered_timestamp'] - df['order_estimated_delivery_date']).dt.days

delivery = df.groupby('customer_id').agg({
    'Delivery_Time': 'mean',
    'Delivery_Delay': 'mean'
}).reset_index()
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,payment_value,customer_zip_code_prefix,customer_city,customer_state,total_order_value,Purchase_Day,Purchase_Hour,Total_Spending,Delivery_Time,Delivery_Delay
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,259.14,58125,varzea paulista,SP,308.16,Sunday,18,308.16,4,-14
1,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,259.14,58125,varzea paulista,SP,308.16,Sunday,18,308.16,4,-14
2,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,259.14,58125,varzea paulista,SP,308.16,Sunday,18,308.16,4,-14
3,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,259.14,58125,varzea paulista,SP,308.16,Sunday,18,308.16,4,-14
4,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,259.14,58125,varzea paulista,SP,308.16,Sunday,18,308.16,4,-14

In [27]:
df.to_csv('MINIPROJECT4.csv', index=False)